@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.gradient{
    background: rgb(0, 97, 242);
    background: linear-gradient(135deg, rgba(0, 97, 242, 1) 0%, rgba(105, 0, 199, 1) 100%);
}

.page-header{
    color: #fff;
    margin-top: 4rem;
    font-size: 1.25rem;
}

.feature {
    color: #fff;
    
}

.feature ul{
    list-style-type: none;
    padding-left: 2rem;
}

.feature ul li {
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    padding-left: 2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.gallery{
    background-color: whitesmoke;
}

.gallery img {
    border-radius: 5%;
}

.services {
    color: #fff;

}

footer {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}

footer a{
    text-decoration: none;
    color: #fff;
}

.feature {
    color: #000;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(52, 236, 175);
}

.feature p, h5{
    color:#000;
}

.feature .black{
    color: #fff;
}

.col-md-6 h1, p, ul{
    color: #fff;
}

.footer{
    background: rgb(5, 5, 90);
    padding-left: 5rem;
    margin-top: 3rem;
}

.footer h4{
    color: orangered;
}

.footer p{
    color: #fff;
    text-align: left;
}

.footer-content h5{
    color: orangered;
}

.footer-content p{
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer-content{
    background: rgb(5, 5, 90);
    padding-left: 6rem;
    padding-top: 3rem;
}

.footer-copy{
    background:rgb(5, 5, 90);
    text-align: center;
    padding-top: 2rem;
}

.footer-copy p, h4{
    color: #fff;
}

.phone h6{
    text-align: left;
    padding-left: 3rem;
}

.start{
    background: rgb(5, 5, 90);
}

.start h3{
    color: #fff;
}

.data-header h3,p{
    color: black;
}

.data-list{
    background: #013779;
    padding: 0 40px 0 35px;
    justify-content: center;
}

.data-list img{
    border-radius: 50%;
}

.data-list h2{
    text-align: center;
    color: #fff;
}


.data-list p{
    color: #000;
}

.data-list p{
    color: #fff;
}

.data-foot h3{
    color: rgb(5, 5, 90);
}

.data-foot{
    line-height: 1.5;
}

.data-foot p, h3{
    color: rgb(5, 5, 90);
    font-family: axiforma-regular,sans-serif;
    padding-top: 20px;
}

.data-header1 h1{
    color: rgb(5, 5, 90);
}

.data-header1 .border{
    border: black;
    height: 110%;
    border: 30px;
    border-radius: 10%;
    padding: 30px;
}

.data-header1 p{
    color: #000;
    font-family: axiforma-regular,sans-serif;
}

.need-more{
    margin-top: 2rem;
    background: #fff;
}

.need-more h3{
    color: rgb(5, 5, 90);
}

.need-more input{
    background-color: gray;
    color: #fff;
    
}

.need-more .form-control{
    background-color: rgb(5, 5, 90);
    color: #fff;
}

.need-more .form-control::placeholder { 
    color: white; }  /* Microsoft Edge */

.need-more .form{
    color: gray;
}

.need-more .btn{
    margin-top: 1rem;
}

.page-header{
    color: #fff;
    background-color: rgb(5, 5, 90);
    margin:0;
}

.page-header p{
    color: #fff;
    
}

.page-header h3{
    color: #fff;
}

.pricing-guide{
    background-color: hotpink;
    text-align: center;
}


.prices h3{
    color: rgb(151, 140, 211);
}

.prices h3,p{
text-align: center;
}

.prices .atm{
    color: #fff;
    border-radius: 20px;
    text-align: center;
}

.prices .line{
    height: 5px;
    border-radius: 20px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    gap: 20px;
}
